body {
    background-color: #181a1b;
}
.main-header {

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 88.9vh;
}

.left-side,
.right-side {
    position: relative;
    top: 5rem;
}

.left-side {
    top: 5rem;
}

.right-side {
    right: 15rem;
}

#div-register-form {
    position: relative;
    bottom: -700px;
}

#main-text {
    position: relative;
    top: -200px;
}